/* App.css */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color for the entire page */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

/* Header styling */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #4a90e2, #3b5998);
  padding: 20px;
  color: #fff;
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

h1 {
  font-size: 24px;
  margin-right: 10px;
  font-weight: bold;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 30px;
}

.tagline {
  font-size: 14px;
  color: #f0f0f0;
}


.right-section {
  display: flex;
  align-items: center;
}

.right-section a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

/* Buttons styling */
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.green-button,
.red-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.green-button {
  background-color: #4caf50;
  color: #fff;
}

.red-button {
  background-color: #f44336;
  color: #fff;
}

.modal {
  /* background-color: blue; */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
}

.modal-body .row {
  margin-bottom: 20px; /* Add more spacing below each row */
}

/* Footer styling */
footer {
  text-align: center;
  margin-top: 20px;
  color: #888;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .left-section {
    margin-bottom: 10px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

.Button {
  margin: 100px; /* Adjust the value as needed */
  padding: 100px;
}

.buttonToPress {
  margin: 10px;
}

.intro-paragraph {
  margin: 30px;
}
